:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}


body {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

#body-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.5s;
}

#side-nav {
    display: none;
}

ul {
    list-style: none;
}

li:hover {
    color: var(--almost-black);
}

#hamburger-icon {
    display: none;
}

.header {
    display: flex;
    margin: 25px;
    color: var(--medium-gray);
    margin-bottom: 100px;
    max-height: 30px;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0 10px 0 10px;
}

.nav-menu li {
    margin: 0 10px 0 10px;
}

.nav-empty {
    flex-grow: 2;
}

.login-register {
    justify-self: flex-end;
    margin-right: 75px;
}

.login-register ul {
    display: flex;
    margin: -12px 10px 0 10px;
    align-items: center;
}

.login-register li {
    margin: 0 10px 0 10px;
}

.register {
    border: 2px solid var(--medium-gray);
    border-radius: 15px;
    padding: 12px 15px 12px 15px;
}

.nav-item:hover {
    color: var(--almost-black);
    cursor: pointer;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 75px rgb(234, 234, 234);
    color: var(--medium-gray);
}

.features {
    position: absolute;
    left: 100px;

}

.company {
    position: absolute;
    left: 285px;
}



.sub-menu li {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;
}

.menu-icon {
    margin-right: 10px;
}

#main-content-mobile {
    display: none;
}

#main-content-desktop {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 75px;
}

#main-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -100px 150px 0 75px;
    padding: 50px

}

#main-left h1 {
    font-size: 100px;
    margin-top: 200px;
}

#main-left p {
    color: var(--medium-gray);
    font-size: 18pt;
    max-width: 600px;
}

#main-right {
    margin-right: 75px;
}

#hero-desktop {
    max-height: 90vh;
}

button {
    color: var(--almost-white);
    background-color: var(--almost-black);
    height: 50px;
    padding: 15px 35px 15px 35px;
    font-size: 18px;
    border-radius: 15px;
    font-family: 'Epilogue', sans-serif;
    margin-top: 50px;
}

button:hover {
    color: var(--almost-black);
    background-color: var(--almost-white);
}

#main-left-bottom {
    margin-top: auto;
}

.client-image {
    margin-right: 50px;
}

@media (max-width: 1170px) {
    .nav-menu {
        display: none;
    }

    .header {
        margin-bottom: 25px;
    }

    .login-register {
        display: none;
    }

    body {
        width: 100%;
        height: 100%;
    }

    #hamburger-icon {
        display: flex;
    }

    #main-content-desktop {
        display: none;
    }

    #main-content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hero-image-mobile {
        max-width: 100%;
    }

    #mobile-text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #mobile-text-content h1 {
        margin: 45px 0 35px 0;
    }
    #mobile-text-content p {
        color: var(--medium-gray);
        margin-top: -5px;
    }

    button {
        font-weight: 700;
        margin-top: 15px;
    }

    #main-left-bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 60px 10px 0 15px;
        width: 100%;
    }

    .client-image {
        margin-right: 0;

    }

    #side-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        color: var(--medium-gray);
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        background-color: var(--almost-white);
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    #side-nav ul {
        align-self: flex-start;
        margin: 25px 0 0 -25px;
    }

    #side-nav ul li {
        margin: 25px 0 0 0;
    }

    #side-nav-login-register ul{
        align-self: center;
    }

    #close-menu-icon {
        position: relative;
        top: -50px;
        right: -200px;
    }

    #side-nav-login-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 25px;
    }

    .login {
        padding-left: 90px;
    }

    .register {

        padding: 10px 75px 10px 75px;
    }

    .sub-menu {
        display: none;
        position: relative;
        top: -13px;
        left: 10px;
        box-shadow: none;
        background-color: var(--almost-white);
        transition: 0.5s;
        
    }
}