:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}


body {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    margin: 25px;
    color: var(--medium-gray);
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0 10px 0 10px;
}

.nav-menu li {
    margin: 0 10px 0 10px;
}

.nav-empty {
    flex-grow: 2;
}

.login-register {
    justify-self: flex-end;
}

.login-register ul {
    display: flex;
    margin: -12px 10px 0 10px;
    align-items: center;
}

.login-register li {
    margin: 0 10px 0 10px;
}

#register {
    border: 1px solid var(--medium-gray);
    border-radius: 15px;
    padding: 12px;
}

.nav-item:hover {
    color: var(--almost-black);
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    left: 150px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 75px lightgray;
}

.sub-menu li {
    margin: 15px;
}